.card {
  /* increase transition delay on each subsequent project to give it a staggering effect */
  transition: all 1s ease;
  transition-delay: calc(var(--transition-order) * 150ms);

  /* on mobile, keep all the transition delays the same since they only trigger 1 by 1 anyways */
}

@media only screen and (max-width: 640px) {
  .card {
    transition-delay: 150ms;
  }
}

.prose > p > a {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.prose > p > a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background-color: #3182ce;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.prose > p > a:hover:before,
.prose > p > a:focus:before,
.prose > p > a:active:before {
  left: 0;
  right: 0;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fc8181;
}
